df.csv
experience_math_scatter.png
experience_ELA_scatter.png
degrees_math_scatter.png
degrees_ELA_scatter.png
nodegree_STAAR_scatter.png
combined_experience_scatter.png
bubble_ranking_districts.png
bubble_teacher_exp_turnover.png
map_teacher_turnover.png
*.shp
*.xlsx
